:root {
  --main-color:#2980b9;
  --primary-color: #ea7aa0;
  --text-color: #333;
  --black:#444;
  --bg:#fff;
  --light-bg:#eee;
  --light-color:#666;
  --border:1px solid rgba(0,0,0,.1);
  --box-shadow:0 5px 10px rgba(0,0,0,.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #f2ddd863;
  -webkit-tap-highlight-color: transparent
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s linear;
}

.player {
  position: relative;
  width: 480px;
  margin: 0 auto;
  background-color: #fcd3e146;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 16px 16px 14px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid #ebebeb;
  user-select: none;
  background-image: url('../img/light-mode.jpg');
  background-size: cover;
  transition: all 0.2s linear;
  /* background-position: center; */
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
  transition: all 0.1s linear;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
}

header h2 {
  color: var(--text-color);
  font-size: 20px;
  margin-top: 10px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #feeff4;
  background-size: cover;
  margin: auto;
  border: 2px solid #ea7aa0;
  background-position: center;
  transition: all 0.2s linear;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
}

.control .btn {
  color: #666;
  padding: 20px;
  font-size: 30px;
  cursor: pointer;
  width: 68px;
  height: 68px;
  text-align: center;
  border-radius: 50%;
  list-style: 68px;
}

.control .btn:active{
  background-color: var(--primary-color);
  color: #fff;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  text-align: center;
  line-height: 75px;
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 9px;
  background: #fff;
  outline: none;
  opacity: 0.95;
  -webkit-transition: 0.2s;
  transition: all 0.2s;
  border: 1px solid #f3699c81;
  cursor: pointer;
  border-radius: 2px;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  border-radius: 2px;
  height: 8px;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* PLAYLIST */
.playlist {
  margin-top: 404px;
  padding: 24px 12px;
  user-select: none;
  /* margin-bottom: 70px; */
  /* overflow-y: auto; */
  /* background-color: #f2ddd8; */
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  margin-bottom: 16px;
  padding: 18px 18px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  background: #f2ddd8;
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s linear;
  border-radius: 10px;
}

.song.active {
  background: #f9c6c5;
  transition: all 0.2s linear;
}

.song:active {
  opacity: 0.65;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 21px;
  color: var(--text-color);
}

.song .author {
  margin-top: 3px;
  font-size: 14px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  width: 264px;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}

.option > i{
  font-size: 25px;
}


/* natification*/
.natification {
  position: absolute;
  /* top: 5px; */
  top: -25px;
  right: 5px;
  font-size: 12px;
  color: var(--light-bg);
  background-color: red;
  /* opacity: 0.8; */
  opacity: 0;
  line-height: auto;
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.5s linear;
  width: auto;
}

/* menu */
.menu{
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 18px;
  border-radius: 50%
}

.menu:active{
  background-color: var(--primary-color);
  color: var(--bg);
}

.menu:active i{
  color: var(--bg);
}

.menu > i {
  font-size: 32px;
  color: #555;
}

/* volume */
.volume{
  position: fixed;
  bottom: 0;
  margin-left: 7px;
  bottom: 5vh;
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  transition: all 0.1s linear;
  opacity: 0;
}

.volume:active{
  background-color: #f2bcbcb2;
  transition: all 0.1s linear;
}

.valume-icon{
  padding: 6px;
  height: 84px;
  width: 84px;
}

.valume-icon > i{
  color: #fff;
  position: absolute;
  top: 26px;
  left: 26px;
  font-size: 32px;
  opacity: 0;
  transition: all 0.1s linear;
}

.valume-icon > .icon-volume.active{
  opacity: 1;
  transition: all 0.1s linear;
}

/* volume-input */
.volume-input{
  position: fixed;
  bottom: 6.5vh;
  margin-left: 92px;
  /* transform: rotate(-90deg); */
  background-color: rgba(0, 0, 0, 0.3);
  height: 62px;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  border-radius: 10px;
  user-select: none;
  display: none;
  animation: volumeAnimation linear 0.5s;
}

.bug-mobi{
  background-image: url('../img/light-mode.jpg');
  /* width: 10px;
  height: 10px; */
  z-index: -10;
}

@keyframes volumeAnimation {
  from {
      opacity: 0;
      transform: scale(0.5);
      transform: rotate(0deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
    transform: rotate(0deg);
  }
}

.volume-input.active{
  display: flex;
}

#volume-input{
  width: 46.5vh;
  height: 16px;
  -webkit-appearance: none;
  border-radius: 23px;
  background-color: rgba(255, 255, 255, 0.836);
  user-select: none;
  /* padding:  18px 0; */
  margin: 18px 0;
}

#volume-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 46px;
  border-radius: 50%;
  height: 46px;
  background-color: #f2bcbcfd;
  cursor: pointer;
  user-select: none;
}

.currentvolume{
  font-size: 12px;
  position:absolute;  
  top: 6px;
  font-weight: 600;
  color: #fff;
  width: 46px;
  text-align: right;
}

/* hiệu ứng chà đỉa */
@-webkit-keyframes xoayvong{
  from{
      -webkit-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -o-transform:rotate(0deg);
  }
  to{
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
  }
}
/* Standard syntax */ 
@keyframes xoayvong {
  from{
      -webkit-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -o-transform:rotate(0deg);
  }
  to{
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
  }
}

.spin {
  /* transition: all 2s ease-in-out; */
  animation: xoayvong 15s linear 0s infinite;
  -webkit-animation: xoayvong 15s linear 0s infinite;
  -moz-animation: xoayvong 15s linear 0s infinite;
  -o-animation: xoayvong 15s linear 0s infinite;
}

/* color-mode */

.theme-toggler{
  position: absolute;
  color: #333;
  top: 16px;
  left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.theme-toggler > span{
  color: #999;
  font-size: 10px;
}

.toggler{
  height: 32px;
  width: 74px;
  border-radius: 50px;
  background: rgba(235, 216, 216, 0.541);
  position: relative;
  cursor: pointer;
  border:var(--border);
  margin:0 2px;
  transition: all 0.2s linear;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.toggler > i{
  font-size: 20px;
  margin: 0 8px;
}

.moon-color{
  color: #f1c40f;
  transition: all 0.1s linear;
  opacity: 0;
}

.sum-color{
  color: #f39d12bb;
  transition: all 0.1s linear;
  opacity: 1;
}

.toggler::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  background: #f2bcbc;
  transition: all 0.2s linear;
}

.player.dark .theme-toggler .toggler::before{
  left: 42px;
  background: #e2a5fb;
  transition: all 0.2s linear;
}

.player.dark{
  background-image:url('../img/backgroundListDark.png') ;
  background-color: #2f2739;
  transition: all 0.2s linear;
}

.player.dark .toggler{
  background-color: rgba(17, 17, 17, 0.7);
  transition: all 0.2s linear;
}

.player.dark .dashboard{
  background-image: url('../img/backrounddashboard.svg');
  border-bottom: 1px solid #4f0569;
	color: #fff;
  transition: all 0.2s linear;
}

.player.dark .dashboard h2{
	color: #fff;
  transition: all 0.2s linear;
}

.player.dark .btn-toggle-play{
  background-color: #7200a1;
  transition: all 0.2s linear;
}

.player.dark .btn{
  color: white;
  transition: all 0.2s linear;
}

.player.dark .btn:active{
  background: #c662ef;
  transition: all 0.2s linear;
}

.player.dark .btn.active{
  color: #a623db;
  transition: all 0.2s linear;
}

.player.dark .song{
  background: rgba(23, 15, 35, 0.7);
  color: white;
  transition: all 0.2s linear;
}

.player.dark .song .title{
  color: rgba(255, 255, 255, 0.75);
  transition: all 0.2s linear;
}

.player.dark .song.active .title{
  color: white;
  transition: all 0.2s linear;
}


.player.dark .song.active{
  background: #140c20;
  transition: all 0.2s linear;
}

.player.dark .song.active .author{
  color: rgb(202, 197, 197) !important;
  transition: all 0.2s linear;
}

.body-dack{
  background-color: #25043f;
  transition: all 0.2s linear;
}

.player.dark .moon-color{
  color: #f1c40f;
  transition: all 0.1s linear;
  opacity: 1;
}

.player.dark .sum-color{
  color: #f39d12bb;
  transition: all 0.1s linear;
  opacity: 0;
}
.player.dark .progress{
  border: 1px solid #7f09776c;
}

.player.dark .progress::-webkit-slider-thumb {
  background-color: #b06bcc;
}


/* menu */

.player.dark .menu:active{
  background: #7200a1;
  transition: all 0.2s linear;
  /* opacity: 0.5; */
}

.player.dark .menu > i{
  transition: all 0.2s linear;
  color: white;
}

.player.dark #volume-input::-webkit-slider-thumb {
  background-color: #7100a1;
}

.player.dark .volume:active{
  background: #7100a1a6;
  transition: all 0.1s linear;
}